body,html {
    min-width: 120px;
    font-family: sans-serif;
    height: 100%;
    margin:  0px auto;
    background: lightblue;
}

#wrapper {
    background: white;
    position: relative;
    min-width: 120px;
    max-width: 600px;
    margin: 0px auto;
    height: auto;
    padding: 10px;
    min-height: 100%;
    content-align: center;
}

h1 {
    padding: 10px;
    margin: 0px auto;
    text-decoration: italic;
}

.copy {
    font-weight: bold;
    font-size: larger;
}

#display {
    padding: auto;
}

.cost {
    font-size: 28px;
    float: right;
}

#totalTime {
    background: inherit;
    font-size: 28px;
    text-align: right;
    align-content: right;
}

.money:before {
    content:"$"
}

.chooser {
    border: solid 1px black;
    border-collapse: collapse;
    margin: auto;
    padding: 10px;
    min-width: 100%;
}


.chooser td,th {
    border: solid 1px darkgrey;
    padding: 5px ;
}

.chooser th {
    background: skyblue;
}

.chooser tr:nth-child(2n+1) {
    background: #eee;
}

.person .salary {
    font-size: larger;
    text-align: right;
}

.count {
    font-size:x-large;
    text-align: right;
    border: none;
    margin: none;
    padding: none;
    background: inherit;
}

.control {
    font-size: larger;
    padding: 8px;
    margin: 12px;
    min-width: 200px;
}

#start {
}

#pause {
    float: left;
    margin: 40px;
    font-size: largest;
}

#stop {
    margin: 40px;
    float:right;
    font-size: largest;
}