body,html {
    background:lightgrey;
    min-width: 120px;
    color: #eee;
    font-family: sans-serif;
    height: 100%;
    margin:  0px auto;
    padding: 0px auto
}

#wrapper {
    position: relative;
    background: #222;
    min-width: 120px;
    max-width: 600px;
    margin: 0px auto;
    height: auto;
    min-height: 100%;
    padding: 0px auto;
}

h1 {
    margin: 0px;
    padding: 10px;
}

.copy {
    font-weight:bold;
    font-size:larger;
}

#display {
    background: #ccc;
    border: ridge #eee 4px;
    padding: 4px;
    margin: 10px;
    color: #111;
    font-family: "Press Start 2P", sans-serif;
    line-height: 2;
}

#display hr {
    style: single;
}

#display .cost {
    font-size: 28px;
    margin: auto;
    content-align: center;
    text-align: center;
}

#totalTime {
    background: inherit;
    border: none;
    font-size: 28px;
    align-content: center;
    font-family: "Press Start 2P", sans-serif;
    text-align: center;
}

.money:before {
    content:"$"
}

.person:hover {
    border-style:outset;

}

.person {
    border: 5px double #ddd;
    padding: 8px;
    margin: 12px;
    display: inline-block;
    border-radius: 10px;
    min-width: 100px;
    min-height: 80px;
}

.person .salary {
    font-size: larger;
    text-align: center;
}

.person .count {
    font-size:x-large;
    text-align: center;
}

.minus {
    float:left;
}

.plus {
    float: right;
}


.control {
    border-radius: 10px;
    font-size: larger;
    padding: 8px;
    margin: 12px;
    min-width: 100px;
    min-height: 80px;
}

#start {
    float:right;
}

#pause {
    float: left;
    margin: 40px;
    font-size: largest;
       }
#stop {
    margin: 40px;float:right;
    font-size: largest;
      }